<body>
  <H1>Board form</H1>
  <table border="1">
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Writer</th>
      <th>date</th>
    </tr>
    {% if data %}
    {% for i in data %}
    <tr>
    <th>{{ i[0] }}</th>
    <th><a href=/board/{{ i[0] }}>{{ i[1] }}</a></th>
    <th>{{ i[2] }}</th>
    <th>{{ i[3] }}</th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <br>
  <button type="button" onclick="location.href='/board_write'">글작성</button>&nbsp;
  <button type="button" onclick="location.href='/logout'">로그아웃</button>&nbsp;
  <button type="button" onclick="location.href='/'">메인</button>
</body>
