<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body role="document">
    {% include 'nav.html' %}
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>EunBig_flask_site</h1>
        {% if data %}
        <img src='http://images.battlecomics.co.kr/board/215812/image-boardid_215812-cut_0-w_1280-h_720-t_20160107002339.jpg' width="500px" height="300px">
        <p class="lead">{{ data }}</p>
        {% else %}
        <img src='https://cdn-images-1.medium.com/max/1600/0*R7Je4ZntJJAI_uiP' width="500px" height="300px">
        <p class="lead">You should login first</p>
        {% endif %}
      </div>
    </main>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ url_for('.static',filename='js/jquery.min.js')}}"></script>
      <script src="{{ url_for('.static',filename='js/bootstrap.min.js')}}"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>

