<body>
  {% if data %}
  <p> Hi {{ data[1] }} ~ </p>
  <p> Your Email is {{ data[0] }} ~ </p>
  <p> You Login {{ data[2] }} times~ </p>
  <p> <a href=mailto:"{{ data[0] }}">Send mail</a></p>
  <form name="delete_session" action="/delete" method="POST">
    <button type="submit">Logout</button>
  </form>
  <a href='/modify'>Edit_info</a>
  <br>
  <p> Search ID </p>
  <form name="search_id" action="/" method="POST">
    <input type="text" name="search_id"><br><br>
    <input type="submit"><br>
  </form>
  {{ data[3] }}


  {% else %}
  <p> You should login first </p>
  <a href='/login'>Login</a>
  <a href='/join'>Join</a>
  {% endif %}
</body>

